<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Use curl http://localhost:8080/language from get list languages
</p>
<p>
    Use curl -X POST -v -d '{"name":"rust", "description":"safe lang", "raiting":"9"}' -H "Content-Type: application/json" http://localhost:8080/language  from create new languages
</p>
<p>
    use curl -X DELETE http://localhost:8080/language/java from delete lang by name
</p>
<p>
    from update use curl -X PUT -d '{"name":"Java", "description":"fucking lang", "raiting":"9"}' -H "Content-Type: application/json" http://localhost:8080/language
</p>
</body>
</html>